/*
清除IE10以上浏览器为input默认添加的清除按钮
*/
input::-ms-clear {display: none;}
/*
KISSY CSS Reset
理念：清除和重置是紧密不可分的
特色：1.适应中文 2.基于最新主流浏览器
维护：玉伯(lifesinger@gmail.com), 正淳(ragecarrier@gmail.com)
*/
/* 清除内外边距 */
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote,
	/* structural elements 结构元素 */ dl, dt, dd, ul, ol, li,
	/* list elements 列表元素 */ pre, /* text formatting elements 文本格式元素 */
	fieldset, lengend, button, input, textarea, /* form elements 表单元素 */ th,
	td {
	/* table elements 表格元素 */
	margin: 0;
	padding: 0;
}
/* 设置默认字体 */
body, button, input, select, textarea {
	/* for ie */
	/*font: 12px/1 Tahoma, Helvetica, Arial, "宋体", sans-serif;*/
	font: 12px/1 "Microsoft YaHei", 微软雅黑, Tahoma, Helvetica, Arial,
		"\5b8b\4f53", sans-serif;
	/* 用 ascii 字符表示，使得在任何编码下都无问题 */
}
h1 {font-size: 18px;/* 18px / 12px = 1.5 */}
h2 {font-size: 16px;}
h3 {font-size: 14px;}
h4, h5, h6 {font-size: 100%;}
address, cite, dfn, em, var {font-style: normal;}
/* 将斜体扶正 */
code, kbd, pre, samp, tt {font-family: "Courier New", Courier, monospace;}
/* 统一等宽字体 */
small {font-size: 12px;}
/* 小于 12px 的中文很难阅读，让 small 正常化 */
/* 重置列表元素 */
ul, ol {list-style: none;}
/* 重置文本格式元素 */
a {text-decoration: none;}
abbr[title], acronym[title] {
	/* 注：1.ie6 不支持 abbr; 2.这里用了属性选择符，ie6 下无效果 */
	border-bottom: 1px dotted;
	cursor: help;
}
q:before, q:after {content: '';}
/* 重置表单元素 */
legend {color: #000;}
/* for ie6 */
fieldset, img {border: none;}
/* img 搭车：让链接里的 img 无边框 */
/* 注：optgroup 无法扶正 */
button, input, select, textarea {
	font-size: 100%;
	/* 使得表单元素在 ie 下能继承字体大小 */
}
/* 重置表格元素 */
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* 重置 hr */
hr {
	border: none;
	height: 1px;
}
/* 让非ie浏览器默认也显示垂直滚动条，防止因滚动条引起的闪烁 */
html {
	overflow-x: hidden;
	overflow-y: auto;
}
/* 整体样式 */
body{
	color: #333;
	overflow: hidden;
}
.loading{
	text-align: center;
	margin: 0 auto;
	width: 50px;
	display: block;
}
.cursor{cursor: pointer;}
form input{
	border: 1px solid #B5B5B5;
	border-radius: 5px;
}
.clear{clear: both;}
.href{cursor: pointer;}
.padding{padding: 10px;}
.margin{margin: 10px;}

/*自定义radio label*/
.radio-label{margin-right: 5px;}
.radio-label input{vertical-align: middle;}
/* .radio-label{line-height: 20px;}
.radio-label input{display: none;}
.radio-label i{
	width: 15px;
	height: 15px;
	display: inline-block;
	border-radius: 15px;
	text-align: center;
	color: #fff;
	border: 1px solid #444;
}
.radio-label input[type="radio"]:checked + i {background:#2489c5;}
.radio-label input[type="radio"]:disabled + i {border-color:#ccc;}
.radio-label input[type="radio"]:checked:disabled + i {background:#ccc;} */
/***scroller***/
::-webkit-scrollbar {
	width:8px;
	height:8px;
	background-color:#fff;
	-webkit-border-radius:4px;
	border-radius:4px;
}
::-webkit-scrollbar-thumb {
	background-color:#ddd;
	-webkit-border-radius:4px;
	border-radius:4px;
}
::-webkit-scrollbar-thumb:hover {
	background-color:#ddd;
	-webkit-border-radius:4px;
	border-radius:4px;
}
/*********覆盖easyui的默认样式>>>***************/
.combo {
	border-color: #b5b5b5;
}
.datagrid-topext {
	height: 36px;
	line-height: 36px;
	padding-left: 22px;
	font-size: 14px;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	border-bottom-width: 0;
	background: url(../images/blue-border.png) no-repeat;
	background-size: 100% 100%;
	color: #fff;
}
.grid-nodate {
	background-color: #ebeff8;
	padding: 20px 100px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	display: block;
}
.grid-icon {
	cursor: pointer;
	font-size: 14px;
	margin-left: 5px;
	margin-right: 5px;
	float: left;
}
.grid-icon:hover{
	color: #444;
}
.grid-icon .icon-fixsize {
	height: 19px;
	width: 16px;
}
.datagrid-wrap{
	border: none;
}
.datagrid-row-selected{background-color: #19B3D3; color: #fff;}
.datagrid-cell{text-align: center;}
.datagrid-header-row, .datagrid-row{
	height: 35px;
}
.datagrid-header-row{
	background: url(../images/black-bar.png) repeat-x;
	color: #31B9C9;
	font-weight: bold;
	font-size: 22px;
}
.datagrid-header-row td{
	background: url(../images/black-bar.png) repeat-x;
}
.datagrid-header td.datagrid-header-over{
	background-color: #423F3F;
	color: #fff;
}
.datagrid-header td, .datagrid-body td, .datagrid-footer td{border-style: solid;}
.datagrid-header td, .datagrid-body td, .datagrid-footer td{border-color: #eee;}
.pagination table,.pagination-info{height: 36px; line-height: 36px;}
.pagination table{float: right; margin-right: 10px;}
.pagination-info{float: left;}
.datagrid .datagrid-pager{border-top-width: 0; background: none; width: 100%;}
.l-btn{
	background: url('../images/page-bg.png') repeat-x;
	border-radius: 0px;
	opacity: 1;
	color: #fff;
	padding: 0px;
	width: 33px;
	height: 33px;
}
.l-btn:hover{
	background: url('../images/page-bg.png') repeat-x;
}
.l-btn-focus{
	outline: none;
}
.l-btn-plain-selected, .l-btn-plain-selected:hover{
	background: url('../images/black-bar.png') repeat-x;
	color: #fff;
}
.l-btn-disabled:hover,.l-btn:hover{
	background: url('../images/black-bar.png') repeat-x;
	border-radius: 0px;
	opacity: 1;
	color: #fff;
	border: none;
}
.l-btn-text{
	line-height: 34px;
}
.pagination-first{
	background: url('../images/page-first.png') no-repeat;
}
.pagination-prev{
	background: url('../images/page-pre.png') no-repeat;
}
.pagination-next{
	background: url('../images/page-next.png') no-repeat;
}
.pagination-last{
	width: 19px;
	background: url('../images/page-last.png') no-repeat;
}
.pagination-links{
	padding: 0px 5px;
	text-align: center;
}
.icon-blank{background: none;}
.icon-blank.fa{line-height: 22px;}
.tree-node{height: 22px;}
.tree-expanded, .tree-collapsed, .tree-folder,
.tree-file, .tree-checkbox, .tree-indent{
}
.combo-del{float: right; margin-right: 5px; cursor: pointer;}
.window-header .panel-title{
	font-size: 20px;
	color: #fff;
	margin: 10px;
}
.window{
	background: none;
	background-color: #60BBD0;
	color: #fff;
	border-radius: 20px;
	padding: 5px 20px 10px 20px;
	filter: none;
	box-shadow: 0px 0px 20px #0F1517;
	-webkit-box-shadow: 0px 0px 20px #0F1517;
	border: none;
	background: url('../images/content-blue.png') repeat-x #16ADD1;
}
.window-shadow{
	background: none;
	box-shadow: none;
}
.panel-tool-max{
	background: url(../images/max.png) no-repeat center;
}
.panel-tool-close{
	background: url(../images/close.png) no-repeat center;
}
.panel-tool a{
	opacity: 1;
	width: 25px;
	margin: 0 10px 0 2px;
}
.panel-tool a:hover{
	background-color: #65C9D5;
}
.panel-header,.panel-tool a{
	filter: none;
}
/*********覆盖easyui的默认样式<<<***************/

/* 主框架样式 */
form .error{color: red;}
.pull-right: {float: right;}
.app .page-top{
	width: 100%;
	height: 80px;
	background-color: #5489B1;
	color: #fff;
}
.app .page-top>div{margin-top: 8px;}
.app .page-top .logo{
	float: left; 
	height: 60px;
	margin-left: 20px;
	margin-top: 10px;
}
.app .page-top .logo img{height: 60px;}
.app .page-top .logo-info{
	height: 100%; 
	line-height: 60px;
	float: left; 
	font-size: 18px; 
	font-weight: bold; 
	margin-left: 20px; 
	color: #fff;
}
#main-navigation{float: right;}
#main-navigation li{
	float: left;
	text-align: center;
	margin: 5px 10px;
}
#main-navigation li a{
	color: #fff;
}
#main-navigation li:hover{
	color: #eee;
}
.app .page-left{
	float: left;
	width: 180px;
	margin-top: -30px;
}

.app .page-right{
	float: right;
	margin-bottom: 20px;
	background-color: #fff;
	margin-top: -65px;
	padding: 30px 15px 40px 15px;
	border-bottom-left-radius: 20px;
	border-bottom-right-radius: 20px;
	border-top-right-radius: 20px;
}
.app .page-topm .nav{
	height: 40px;
	line-height: 40px;
	margin-top: 15px;
	margin-left: -20px;
	float: left;
}
.app .page-topm .nav .menuicon{
	height: 30px;
	position: absolute;
	top: 5px;
}
.app .page-topm .nav .nav2 .menuicon{
	height: 20px;
	position: absolute;
	top: 10px;
}
.page-topm .nav .nav1{
	background: url(../images/nav1.png) no-repeat;
	margin-left: -15px;
}
.page-topm .nav .nav2{
	background: url(../images/nav2.png) no-repeat;
	margin-left: -34px;
}
.page-topm .nav .nav3{
	background: url(../images/nav3.png) no-repeat;
	margin-left: -40px;
}
.app .page-topm{
	width: 100%;
	height: 120px;
	float: left;
	clear: both;
	margin-top: 10px;
}
.page-topm .nav>a{
	float: left;
	color: #333;
}
.page-topm .nav>a>i{
	height: 40px;
	line-height: 40px;
}
.page-topm .nav .nav-left{float: left;}
.page-topm .nav .nav-left li{
	float: left;
	font-weight: bold;
	font-size: 14px;
	background-size: 100% 100%;
	color: #fff;
	padding: 0 30px 0 30px;
	position: relative;
}
.page-topm .nav .nav-left li span{
	padding-bottom: 5px;
	font-size: 0.8em;
	margin-left: 30px;
}
.page-topm .nav .nav-left i{
	font-size: 1.5em;
	position: absolute;
	top: 8px;
}
.page-topm .nav .nav-left li:first{
	background: url(../images/blue1.png) no-repeat;
}
.app .page-topm .quick-link{
	float: right;
	margin-top: 0px;
}
.app .page-topm .quick-link a{
	color: #444;
	padding: 0px 15px;
	line-height: 35px;
	display: inline-block;
	font-weight: bold;
	margin-left: 24px;
	position: relative;
}
.app .page-topm .quick-link a:hover{
	text-decoration: none;
}
.app .page-topm .quick-link li{
	width: 120px;
	height: 35px;
	line-height: 35px;
	text-align: center;
	float: left;
	cursor: pointer;
	background: url(../images/btn-normal.png) no-repeat bottom;
	border-radius: 5px;
	margin-right: 5px;
}
.app .page-topm .quick-link li:hover{
	opacity: 0.9;
}
.app .page-topm .quick-link .fa{
	color: #16ADD1;
	position: absolute;
	left: -18px;
	top: 5px;
}
.app .page-topm .bus-info{
	width: 200px;
	height: 80px;
	float: left;
	margin-top: 5px;
	background-color: #fff;
	background: url(../images/welcome.png) no-repeat;
	text-align: center;
}
.app .page-topm .bus-info h1{
	width: 160px;
	text-align: center;
	margin-top: 25px;
	margin-left: 10px;
	color: #149FCC;
	overflow:hidden; 
	text-overflow:ellipsis;
	display:-webkit-box; 
	-webkit-box-orient:vertical;
	-webkit-line-clamp:2;
}
.app .page-right .content{}
.app .page-bottom{
	width: 100%;
	height: 30px;
	line-height: 30px;
	position: fixed;
	bottom: 0px;
	text-align: center;
	border-top: 1px solid #eee;
	background-color: #fff;
}

.main .top {
	position: fixed;
	width: 100%;
	background-color: #3d73b1;
}
.main .bottom {
	position: fixed;
	width: 100%;
	background-color: #0074b5;
	color: #fff;
	bottom: 0px;
	line-height: 25px;
	height: 25px;
	text-align: center;
}
.main .top .userinfo {
	position: absolute;
	right: 10px;
	color: #fff;
	font-size: 14px;
	z-index: 100;
	padding-right: 20px;
}
.main .top .userinfo .userinfo-u {
	background: url(../images/yonghu.png) no-repeat;
	padding-left: 33px;
	height: 25px;
	line-height: 25px;
	display: inline-block;
}
.main .top .userinfo .userinfo-e {
	background: url(../images/tuichu.png) no-repeat;
	padding-left: 25px;
	height: 25px;
	line-height: 25px;
	display: inline-block;
}
.main .top .userinfo-left {
	height: 30px;
	width: 30px;
	float: left;
	background: url(../images/denglv-left.png) no-repeat;
}
.main .top .userinfo-right {
	height: 30px;
	width: 30px;
	float: right;
	background: url(../images/denglv-right.png) no-repeat;
}
.main .top .userinfo-mid {
	height: 29px;
	line-height: 29px;
	float: left;
	background: url(../images/denglv-mid.png) repeat-x;
	border-bottom: 1px solid #2c68ab;
}
.main .top .userinfo a {
	color: #fff;
}
.main .top .logo {
	position: relative;
	height: 107px;
	background: url(../images/admin-top.png) no-repeat;
	background-color: #0962B2;
}
.main .top .navigation {
	position: absolute;
	top: 0px;
	margin-left: 600px;
}
.main .top .navigation .navigation-select {
	display: block;
	background: url(../images/sanjiao.png) bottom #0074b8 no-repeat;
	color: #FFFFFF;
}
.main .top .navigation .navigation-last {
	border-right: 0px solid;
}
.main .top .navigation ul {
	height: 100%;
}
.main .top .navigation ul li {
	font-size: 14px;
	float: left;
	height: 100px;
	line-height: 100px;
	color: #fff;
}
.main .top .navigation ul .navli {
	padding-left: 8px;
	padding-right: 8px;
	cursor: pointer;
}
.main .top .navigation ul .navli:hover {
	color: #eee;
}
.main .body {
	width: 100%;
	height: 100%;
	background-color: #FCFCFC;
	margin-top: 107px;
	position: fixed;
}
.main .body .menus {
	position: relative;
	width: 250px;
	float: left;
	overflow: auto;
	color: #000;
	margin-right: 5px;
	border-bottom: 1px solid #b8ced7;
	border-right: 1px solid #b8ced7;
	webkit-box-shadow: 0px 0px 3px #efeeee;
	-moz-box-shadow: 0px 0px 3px #efeeee;
	box-shadow: 0px 0px 3px #efeeee;
}
.main .body .menus-fold {
	position: relative;
	width: 13px;
	height: 100%;
	background-color: #30469B;
	cursor: pointer;
	color: #fff;
}
.main .body .menus-fold:hover {
	background-color: #CAD6DC;
}
.main .body .menus i {
	margin-right: 5px;
	color: #0074b8;
}
.main .body .menus .menu-flag {
	background: url(../images/opean_icon.png) no-repeat 5px;
}
.main .body .menus .levelpar {
	padding-left: 4px;
	cursor: pointer;
	height: 30px;
	line-height: 30px;
	background-color: #eaeff9;
	border-bottom: 1px solid #b8ced7;
	font-weight: bold;
}
.main .body .menus .menu-select {
	background-color: #0074b8;
	color: #fff;
}
.main .body .menus .menu-select a {
	color: #fff;
}
.main .body .menus li:hover {
	background-color: #9ebfe3;
	color: #fff;
}
.main .body .menus li {
	line-height: 30px;
	height: 30px;
	cursor: pointer;
}
.main .body .menus li a {
	display: block;
	width: 100%;
	height: 100%;
	text-decoration: none;
	color: #333333;
}
.main .body .content {
	position: relative;
	width: auto;
	overflow: auto;
	padding-bottom: 10px;
	margin-right: 5px;
	margin-top: 5px;
	margin-bottom: 40px;
}
.content .zone {
	width: auto;
	height: auto;
	margin-bottom: 5px;
}

/* 查询区域 */
.searchzone {
	clear: both; 
	float: left; 
	width: 100%;
	background: url(../images/content-blue.png) repeat-x;
	color: #fff;
	border-radius: 5px;
	margin-bottom: 10px;
}
.searchzone .input-name{
	background: url(../images/black-bar.png) repeat-x;
	height: 27px;
	display: inline-block;
	line-height: 27px;
	padding: 0px 10px;
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}
.searchzone ul li{float: left; height: 40px; line-height: 40px; margin-left: 15px;}
.searchzone .btns{margin-left: 50px; display: inline-block;}
.searchzone .input{
	border: none;
	height: 27px;
	line-height: 27px;
	border-top-left-radius: 0px;
	border-bottom-left-radius: 0px;
	padding-left: 5px;
}
.searchzone .combo{border: none; margin-bottom: 2px;}
.searchzone .textbox{border-radius: 0px 5px 5px 0px;}
.searchzone .spe-tag-wrapper{
	height: 25px;
	line-height: 26px;
	border: 1px solid #fff;
	display: inline-block;
	padding: 0px 10px;
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	border-left: 0px;
	background-color: #fff;
	color: #444;
}
	
.report-query-div{height: 40px;}
/* 通用按钮 */
.btn {
	color: #444;
	height: 30px;
	line-height: 30px;
	border: none;
	cursor: pointer;
	display: inline-block;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	text-align: center;
	text-decoration: none;
	margin: 3px;
	font-size: 14px;
	padding: 0px 15px;
	background: url(../images/btn-bg.png) repeat-x;
}
.btn-main{
	background: url(../images/blue-border.png) no-repeat;
	color: #fff;
}
.btn-select{
	width: 100%;
	margin: 0px;
	padding: 0px;
	margin-left: -2px;
	background: url(../images/blue-border.png) no-repeat;
	color: #fff;
}
.btn-select-tree{
	height: 20px;
	line-height: 20px;
	padding: 0px 10px;
}
.btn:hover {color: #A59898;}
.btn-autowidth {width: auto;}
.btn-unselect {
	background: #9FA097;
	color: #272727;
}
.btn-blank{background: none; color: #333; cursor: default;}
.btn-blank:hover{color: #333; cursor: default;}
.btn a {color: #fff;}
.btn-small {
	height: 25px;
	line-height: 25px;
	font-size: 12px;
}
/* .btn-save {background-color: #27A058;}
.btn-add {background-color: #36B8AC;}
.btn-reset {background-color: #c0c0c0;}
.btn-cancle {background-color: #463434;}
.btn-search {background-color: #5489B1;}
.btn-danger {background-color: #D80B0B;}
.btn-green {background-color: #33CC66;}
.btn-brown {background-color: #CC9999;}
.btn-orange {background-color: #FF9933;} */
.btn-sp {
	text-decoration: none;
	color: #595757;
	font-size: 12px;
	width: 56px;
	height: 20px;
	line-height: 20px;
	text-align: center;
	background: url(../images/detail-btn.png) no-repeat;
}
.btn-selected{
	background: url(../images/black-bg.png) no-repeat;
	color: #fff;
	background-size: 100% 100%;
}
/* .btn-save.btn-selected{border-bottom: 5px solid #0CCC5A;}
.btn-add.btn-selected{border-bottom: 5px solid #88D4CD;}
.btn-reset.btn-selected{border-bottom: 5px solid #0CCC5A;}
.btn-cancle.btn-selected{border-bottom: 5px solid #0CCC5A;}
.btn-search.btn-selected{border-bottom: 5px solid #9AB8CE;}
.btn-danger.btn-selected{border-bottom: 5px solid #D28C8C;} */
.btns-row{clear: both; height: 0px;margin-left: 8px;}
.btns-row .btn{height: 25px; line-height: 25px; margin-top: 6px;}
.btn-submit-wrap{
	padding: 5px 0px 5px 0px;
	z-index: 1;
	text-align: center;
	margin-top: 10px;
}
/* 打印按钮-弹出框 */
.btn-print{
	width: 100px;
	text-align: center;
	margin: 10px auto;
	display: block;
}
/* 打印按钮-标题行 */
.btn-print-top{
	float: right;
	margin-top: -7px;
}
.datagrid-topext .btn {
	float: right;
	margin-right: 20px;
	margin-top: 6px;
}
.valid-error {
	border: 1px solid red;
	color: red;
	display: inline-block;
	height: 20px;
	line-height: 20px;
	padding: 2px 5px;
	margin: 2px 2px;
}
/*查看页面*/

.showPage {
	font-size: 14px;
	padding: 10px;
}
.showPage table{
	width: 100%;
}
.showPage .bg-zone{
	background: url(../images/info-bg.png) no-repeat bottom center;
	margin-bottom: 10px;
	background-size: 100%;
}
.showPage tr {
	height: 30px;
}
.showPage tr .td-even {
	text-align: left;
}
.showPage tr .td-title {
	text-align: center;
	background-color: #5879BA;
	color: #fff;
}
.showPage tr td {
	padding: 5px;
	line-height: 20px;
	word-break: break-all;
}
.showPage tr .td-odd {
	text-align: right;
	padding-right: 10px;
	font-weight: bold;
}
.showPage tr textarea{
	width: 80%;
	padding: 5px;
	border-radius: 5px;
}
.showPage h3{
	font-size: 16px;
	padding: 10px;
	margin-bottom: 10px;
	color: #fff;
	background: url(../images/black-bar.png) repeat-x;
	border-radius: 10px;
	box-shadow: 3px 3px 2px #F5EFEF;
}
.showPage .btn-addrow{
	background: url(../images/blue-border.png) repeat-x bottom;
	border-radius: 5px;
	color: #fff;
}
.showPage .btn-addrow:hover{
	opacity: 0.8;
}
.showPage .btn-delrow{
	width: 50px;
	background-color: #DE6262;
	color: #fff;
	background-image: none;
}
.showPage .btn-delrow:hover{
	opacity: 0.8;
}
.showPage .btn-save{
	width: 100px;
	height: 40px;
	line-height: 40px;
	font-size: 18px;
	background: url(../images/blue-border.png) no-repeat;
	background-size: 100% 100%;
	color: #fff;
}
/** 子表操作 **/
.showPage .edit-list-data{}
.showPage .edit-list-data tr{border-bottom: 1px solid #FDF9F9;}
.showPage .edit-list-data tbody tr:nth-child(odd){
	background-color: #F3F3F3;
}
.showPage .edit-list-data tbody tr:nth-child(even){
	background-color: #FFF;
}
.showPage .edit-list-data th{}
.showPage .edit-list-data td{
	padding: 5px;
	text-align: center;
	border-right: 1px solid #fff;
	line-height: 22px;
}
.showPage .edit-list-data td input{
	width: 100px;
	border-radius: 0px;
	border-left: 0px;
	border-right: 0px;
	border-top: 0px;
	margin: 3px;
	text-align: center;
}
.showPage .edit-list-data thead{
	background: url(../images/page-bg.png) repeat-x;
	color: #fff;
}
.showPage .edit-list-data thead th{text-align: center; border-right: 1px solid #fff;}
.showPage input{height: 24px; padding-left: 5px;}
.showPage input[type=radio]{height: auto;}
.showPage .textbox-text{height: auto; line-height: auto;}


/*报表中心*/
.chart_div{
	width: 100%;
	min-height: 420px;
	clear: both;
	/* border: 1px solid #d7dee2; */
	border-radius: 2px;
	/* margin: 0px 0px 20px 0px; */
}

.chart_title{
	height: 50px;
	padding: 0px 0px 0px 3px;
	background-color: #F5F5F5;
	line-height: 50px;
	border-left: 5px solid #5489B1;
	margin-left: 5px;
	margin-right: 5px;
	padding-left: 10px;
}

.chart_title span{
	font-size: 14px;
	color: #434349;
	font-weight: 600;
	width:auto;
	margin-right:580px;
}

.chart_title a{
	font-size: 12px;
	color: #FFFFFF;
	padding: 8px 17px 8px 17px;
	background: #75A7EF;
}

.chart_title a:hover{
	background: #5991e1;
}

.chart_detail1{
	width: 100%;
	float: left;
	border-radius: 2px;
	background-color: #FFFFFF;
}

.chart_detail2{
	width: 100%;
	float: right;
	border-radius: 2px;
	background-color: #FFFFFF;
}

.chart_detail_title{
	margin-left:5px;
	margin-top:5px;
	height: 36px;
	line-height: 36px;
	padding-left: 20px;
	font-size: 14px;
	color: #434349;
	border: 1px solid #eee;
	border-bottom: none;
	border-top-left-radius: 5px;
	border-top-right-radius: 5px;
	background-color: #F5F5F5;
}
.chart_content{
	margin: 0px 0px 5px 5px;
	font-size: 12px;
}

.searchzone .detail-ul li{
	cursor:pointer;
	line-height: 22px;
	height: 22px;
	margin-top: 10px;
	padding: 0px 5px;
	margin-left: 10px;
}
.searchzone .detail-ul li:hover{text-decoration: underline;}
.searchzone .detail-ul li.active{
	background-color: #109DCB;
	color: #fff;
}
.totalTable{
	width: 100%;
	margin-top: 5px;
	margin-bottom: 5px;
	border-right:1px solid #d7d7d7;
	border-bottom:1px solid #d7d7d7;
}
.totalTable td{
	height:43px;
	text-align: center;
	font-size: 12px;
	border-left:1px solid #d7d7d7;
	border-top:1px solid #d7d7d7;
}
.totalTable td span{
	font-size: 18px;
	color: red;
}
/*自定义弹出框-select*/
.win-my-select .zone-left{
	width: 20%;
	float: left;
	border-right: 1px solid #eee;
	padding: 10px;
	line-height: 25px;
}
.win-my-select .zone-right{
	width: 75%;
	float: right;
}
.my-select{
	width: 150px;
	height: 25px;
	line-height: 25px;
	display: inline-block;
	vertical-align: middle;
	text-align: center;
	background-color: #eee;
	border-radius: 5px;
	padding-left: 10px;
	padding-right: 10px;
	cursor: pointer;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}
.my-select:hover{
	background-color: #EAEAEA;
}

/* 不同文字颜色 */
.text-muted{color: #777}
.text-primary{color: #337ab7}
.text-success{color: #3c763d}
.text-info{color: #31708f}
.text-warning{color: #8a6d3b}
.text-danger{color: #a94442}

.right-max {
	margin-left: 0px;
}

/*图片管理页面*/
.im{}
.im .im-left{
	width: 250px;
	min-height: 300px;
	float: left;
	line-height: 22px;
	background-color: #2e9c5f;
	color: #fff;
}
.im .im-left .lv1{margin-left: 10px;}
.im .im-left .lv2{margin-left: 20px;}
.im .im-left .lv3{margin-left: 30px;}
.im .im-center{
	overflow-x: scroll;
	float: left;
	background-color: #eee;
}
.im .im-right{
	width: 250px;
	min-height: 300px;
	float: right;
	line-height: 22px;
	color: #fff;
}
.im .item-drag-right{
	cursor: pointer;
}
.im .btn-remove{
	color: #fff;
	position: absolute;
	right: 0px;
	top: 0px;
}
.im .item-drag-right:hover{
	color: red;
}
.im .item-drag{
	position: absolute;
	z-index: 2;
	background-color: green;
	opacity: 0.8;
}
.im .item-drag.select{background-color: red;}