/*
清除IE10以上浏览器为input默认添加的清除按钮
*/

input::-ms-clear {
	display: none;
}
/*
KISSY CSS Reset
理念：清除和重置是紧密不可分的
特色：1.适应中文 2.基于最新主流浏览器
维护：玉伯(lifesinger@gmail.com), 正淳(ragecarrier@gmail.com)
*/
/* 清除内外边距 */

body,
h1,
h2,
h3,
h4,
h5,
h6,
hr,
p,
blockquote,
/* structural elements 结构元素 */

dl,
dt,
dd,
ul,
ol,
li,
/* list elements 列表元素 */

pre,
/* text formatting elements 文本格式元素 */

fieldset,
lengend,
button,
input,
textarea,
/* form elements 表单元素 */

th,
td {
	/* table elements 表格元素 */
	
	margin: 0;
	padding: 0;
}
/* 设置默认字体 */

body,
button,
input,
select,
textarea {
	/* for ie */
	/*font: 12px/1 Tahoma, Helvetica, Arial, "宋体", sans-serif;*/
	
	font: 12px/1 "Microsoft YaHei", 微软雅黑, Tahoma, Helvetica, Arial, "\5b8b\4f53", sans-serif;
	/* 用 ascii 字符表示，使得在任何编码下都无问题 */
}
h1 {
	font-size: 18px;
	/* 18px / 12px = 1.5 */
}
h2 {
	font-size: 16px;
}
h3 {
	font-size: 14px;
}
h4,
h5,
h6 {
	font-size: 100%;
}
address,
cite,
dfn,
em,
var {
	font-style: normal;
}
/* 将斜体扶正 */

code,
kbd,
pre,
samp,
tt {
	font-family: "Courier New", Courier, monospace;
}
/* 统一等宽字体 */

small {
	font-size: 12px;
}
/* 小于 12px 的中文很难阅读，让 small 正常化 */
/* 重置列表元素 */

ul,
ol {
	list-style: none;
}
/* 重置文本格式元素 */

a {
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
}
abbr[title],
acronym[title] {
	/* 注：1.ie6 不支持 abbr; 2.这里用了属性选择符，ie6 下无效果 */
	
	border-bottom: 1px dotted;
	cursor: help;
}
q:before,
q:after {
	content: '';
}
/* 重置表单元素 */

legend {
	color: #000;
}
/* for ie6 */

fieldset,
img {
	border: none;
}
/* img 搭车：让链接里的 img 无边框 */
/* 注：optgroup 无法扶正 */

button,
input,
select,
textarea {
	font-size: 100%;
	/* 使得表单元素在 ie 下能继承字体大小 */
}
/* 重置表格元素 */

table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* 重置 hr */

hr {
	border: none;
	height: 1px;
}
/* 让非ie浏览器默认也显示垂直滚动条，防止因滚动条引起的闪烁 */

html {
	overflow-y: scroll;
}
/****************/

input {
	padding: 2px 3px;
	border: 1px solid #b5b5b5;
}
select {
	border: 1px solid #b5b5b5;
}
body {
	color: #504d4d;
	background-color: #f9f8f8;
	padding-bottom: 100px;
}
.input-fixwidth {
	width: 242px;
}
.welcome {
	text-align: center;
	overflow: auto;
}
.welcome div {
	margin: 0 auto;
	margin-top: 100px;
}
.welcome div h1 {
	font-size: 40px;
}
.content .zone {
	width: auto;
	height: auto;
	margin-bottom: 5px;
}
/*查看页面*/
.showPage {
	width: 100%;
	font-size: 14px;
}
.showPage tr {
	height: 30px;
	line-height: 30px;
}
.showPage tr .td-even {
	text-align: left;
	border-right: 1px solid #E4E0E0;
}
.showPage tr .td-title {
	text-align: center;
	background-color: #46708e;
	color: #fff;
}
.showPage tr td {
	border-right: 1px solid #eee;
	border-bottom: 1px solid #eee;
	padding: 5px;
}
.showPage tr .td-odd {
	text-align: right;
	padding-right: 10px;
	font-weight: bold;
	width: 30%;
}
.showPage table{
	width: 100%;
}
/* 查看table页面 */

.showTable {
	width: 100%;
	border-color: #d8e2e6;
	border-width: 1px 1px 1px 1px;
	border-style: solid;
	font-size: 14px;
}
.showTable tr {
	height: 30px;
	line-height: 30px;
}
.showTable tr .td-even {
	text-align: left;
	border-right: 1px solid #E4E0E0;
}
.showTable tr .td-title {
	text-align: center;
	background-color: #5879BA;
	color: #fff;
}
.showTable tr td {
	border-right: 1px solid #b8ced7;
	border-bottom: 1px solid #b8ced7;
	padding: 5px;
}
.showTable tr th {
	border-right: 1px solid #b8ced7;
	border-bottom: 1px solid #b8ced7;
	padding: 5px;
	text-align: center;
	background: #5879BA;
}
.showTable tr .td-odd {
	text-align: right;
	padding-right: 10px;
	font-weight: bold;
}
/*==============================================*/
/*==============================================*/
/*合并页面*/

.showMerge {
	width: 100%;
	border-color: #b8ced7;
	border-width: 1px 1px 1px 1px;
	border-style: solid;
	vertical-align: center;
}
.showMerge tr {
	height: 40px;
	line-height: 40px;
}
.showMerge tr .td-even {
	text-align: left;
	border-right: 1px solid #E4E0E0;
}
.showMerge tr .td-title {
	text-align: center;
	background-color: #5879BA;
	color: #fff;
}
.showMerge tr td {
	border-right: 1px solid #b8ced7;
	border-bottom: 1px solid #b8ced7;
	padding-left: 5px;
}
.showMerge tr .td-odd {
	text-align: right;
	padding-right: 10px;
}
/*==============================================*/

.reportdetail {
	width: 40%;
	border-color: #b8ced7;
	border-width: 1px 1px 1px 1px;
	border-style: solid;
	margin-left: 10px;
	margin-top: 10px;
}
.reportdetail tr {
	height: 30px;
	line-height: 30px;
}
.reportdetail tr .td-even {
	text-align: left;
	/* border-right: 1px solid #E4E0E0; */
}
.reportdetail tr .td-title {
	text-align: center;
	background-color: #5879BA;
	color: #fff;
}
.reportdetail tr td {
	border-right: 1px solid #b8ced7;
	border-bottom: 1px solid #b8ced7;
	padding-left: 5px;
}
.reportdetail tr .td-odd {
	text-align: right;
	padding-right: 10px;
}
.searchzone {
	border-color: #46708e;
	border-width: 1px 1px 1px 1px;
	border-style: solid;
	font-size: 14px;
}
.searchzone .name {
	height: 36px;
	line-height: 36px;
	background: #c2dffa;
	padding-left: 22px;
	color: #154f87;
	font-size: 14px;
	font-weight: bold;
}
.searchzone table {
	width: 100%;
}
.searchzone tr {
	height: 30px;
	line-height: 45px;
	text-align: center;
}
.searchzone tr td {
	padding-left: 30px;
}
.searchzone tr .td-even {
	text-align: left;
}
.searchzone tr .td-odd {
	text-align: right;
	padding-right: 10px;
	font-weight: bold;
}
.radius {
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
}
/* 通用按钮 */
.btn-submit-wrap{
	padding: 5px 0px 5px 0px;
	z-index: 1;
	text-align: center;
	margin-top: 10px;
}
.btn {
	color: #fff;
	height: 28px;
	line-height: 28px;
	border: none;
	cursor: pointer;
	display: inline-block;
	text-align: center;
	text-decoration: none;
	margin: 3px;
	font-size: 14px;
	padding: 0px 15px;
	background-color: #2f5a80;
}
.btn-main{
	color: #fff;
}
.btn-select{
	width: 100%;
	margin: 0px;
	padding: 0px;
	margin-left: -2px;
	color: #fff;
}
.btn-select-tree{
	height: 20px;
	line-height: 20px;
	padding: 0px 10px;
}
.btn:hover {color: #ffe5e5; opacity: 0.8;}
.btn-autowidth {width: auto;}
.btn-unselect {
	background: #9FA097;
	color: #272727;
}
.btn-blank{background: none; color: #333; cursor: default;}
.btn-blank:hover{color: #333; cursor: default;}
.btn a {color: #fff;}
.btn-small {
	height: 25px;
	line-height: 25px;
	font-size: 12px;
}
.btn-save {background-color: #27A058;}
.btn-add {background-color: #5485b1;}
.btn-reset {background-color: #c0c0c0;}
.btn-cancle {background-color: #463434;}
.btn-search {background-color: #5489B1;}
.btn-danger {background-color: #D80B0B;}
.btn-edit {background-color: #33CC66;}
.btn-brown {background-color: #CC9999;}
.btn-orange {background-color: #FF9933;}
.btn-back {background-color: #FF9933;}
.btn-white{background-color: #fff; color: #565050;}
.label{
	background-color: #7fabd2;
	color: #fff;
	padding: 5px 10px;
	line-height: 30px;
}
.label-info{background-color: #36B8AC}
.label-success{background-color: #33CC66}
.label-warn{background-color: #FF9933}
.label-danger{background-color: #D80B0B}

.valid-error {
	border: 1px solid red;
	color: red;
	display: inline-block;
	height: 20px;
	line-height: 20px;
	padding: 2px 5px;
	margin: 2px 2px;
}
.survey-type-title {
	border-bottom: 3px solid #398AC7;
	margin-bottom: 5px;
	height: 30px;
	z-index: 1;
	position: fixed;
}
.survey-type-content {
	float: left;
	width: 100%;
	margin-bottom: 20px;
}
.survey-type-title>div {
	height: 30px;
	background-color: #eaeff9;
	line-height: 30px;
	text-align: center;
	font-size: 14px;
	font-weight: bold;
	cursor: pointer;
	float: left;
	border-right: 1px solid #fff;
	padding: 0 10px;
}
.survey-type-title .survey-type-title-select {
	color: #fff;
	background-color: #398AC7;
}
.survey-type-title .survey-type-desc {
	background-color: #DAD6D6;
	cursor: default;
}
.survey-type-title>div:hover {
	background-color: #DAD6D6;
}
.formanchors {
	padding: 5px 0px 5px 0px;
	position: absolute;
	z-index: 1;
	top: 60px;
	right: -200px;
	background-color: #094E9D;
	padding: 5px 10px;
	line-height: 20px;
	color: #fff;
	width: 220px;
	overflow-y: auto;
}
.formanchors-hover {
	right: 22px;
}
.formanchors li {
	cursor: pointer;
}
.formanchors li:hover {
	text-decoration: underline;
}
.survey-type-submitbtn {
	padding: 5px 0px 5px 0px;
	z-index: 1;
	text-align: center;
}
.survey-type-submittitle {
	height: 35px;
	line-height: 35px;
	background-color: #5879BA;
	font-size: 14px;
	font-weight: bold;
	text-align: center;
	color: #fff;
}
.des-survey-eidtwin {
	margin-bottom: 40px;
}
.des-survey-eidtwin input {} .des-survey-eidtwin .tr-odd {
	background-color: #fff;
}
.des-survey-eidtwin .tr-even {
	background-color: #fff;
}
.des-survey-eidtwin .td-odd {} .des-survey-eidtwin td {
	/* padding-top: 5px;
	padding-left: 5px; */
}
.des-survey-eidtwin textarea {
	width: 80%;
	height: 50px;
	margin: 5px 0px;
	border: 1px solid #b5b5b5;
}
.des-survey-eidtwin .sepline {
	height: 5px;
}
.des-survey-eidtwin .trlv1 {
	background-color: #eaeff9;
	font-weight: bold;
}
.des-survey-eidtwin .trlv1 td {
	font-size: 16px;
	padding-left: 30px;
	color: #154f87;
}
.des-survey-eidtwin .trlv2 {
	background-color: #F7F9FD;
	font-weight: bold;
}
.des-survey-eidtwin .trlv3 {
	background-color: #F7F8FB;
	font-weight: bold;
}
.edit-list-data {
	border-style: solid;
	border-width: 1px;
	margin-top: 5px;
	margin-bottom: 5px;
	border-color: #b8ced7;
	width: 100%;
	/* table-layout: fixed; */
}
.edit-list-data input {
	width: 90%;
	text-align: center;
}
.edit-list-data .btn-addrow {
	background-color: #30ABDF;
	color: #fff;
	cursor: pointer;
	line-height: 30px;
}
.edit-list-data .btn-addrow:hover {
	background-color: #CAD6DC;
}
.edit-list-data .btn-removerow {
	background-color: #F04047;
	color: #fff;
	cursor: pointer;
}
.edit-list-data .btn-removerow:hover {
	background-color: #CAD6DC;
}
.edit-list-data td {
	text-align: center;
	border-right: 1px solid #fff;
	border-bottom: 1px solid #fff;
}
.edit-list-data tbody td {
	line-height: 40px;
	border-right: 1px dashed #ddd;
	padding: 3px;
}
.edit-list-data thead {} .edit-list-data textarea {
	width: 80%;
	height: 100px;
}
/*****统计样式 start ******/

.stat_data_div {
	width: 100%;
	text-align: center;
	margin-top: 5px;
}
.stat_data_div .table-wrapdiv {
	padding-top: 5px;
	padding-bottom: 10px;
	padding-left: 8px;
	padding-right: 8px;
	border: 1px solid #b8ced7;
	border-top: none;
}
.stat_tab {
	width: 100%;
	padding-top: 10px;
	border-color: #b8ced7;
	border-width: 1px;
	border-style: solid;
	line-height: 25px;
}
.stat_tab thead th {
	background-color: #F3F5FA;
	font-size: 12px;
	height: 20px;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	border-right-width: 1px;
	border-right-style: solid;
	border-color: #b8ced7;
	font-weight: normal;
}
.stat_tab_zx_th {
	/*表头文字纵向每个文字后请加<br/>*/
	
	height: auto;
	margin-bottom: 10px;
}
.stat_tab tbody td {
	height: 15px;
	border-top-style: solid;
	border-top-width: 1px;
	border-left-width: 1px;
	border-left-style: solid;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	text-align: center;
	font-size: 13px;
	border-color: #b8ced7;
}
.stat_tab tfoot td {
	text-align: center;
	font-weight: bolder;
	border-right: 1px solid #b8ced7;
	border-bottom: 1px solid #b8ced7;
}
.stat_tab tfoot td font {
	padding-right: 30px;
}
.table-tools {
	padding-top: 5px;
	padding-bottom: 5px;
	background-color: #eaeff9;
	border: 1px solid #b8ced7;
	height: 25px;
}
.table-tools>div {
	float: right;
	margin-right: 20px;
}
.table-tools>span {
	height: 25px;
	line-height: 25px;
	float: left;
	margin-left: 10px;
}
/*****统计样式  end ******/
/********自定义控件*********/

.widget-zonebtn {
	background-color: #EFEFEF;
	cursor: pointer;
	position: absolute;
}
.widget-zoneinput {
	cursor: pointer;
	background-color: #c2dffa;
	height: 20px;
}
.widget-zone-content ul {
	line-height: 25px;
}
.widget-zone-content .ym {
	float: left;
	width: 50px;
	margin-right: 10px;
}
.widget-zone-content .ym-select {
	background-color: #2CD95D;
	color: #fff;
}
.widget-zone-content li {
	background-color: #eaeff9;
	margin-bottom: 1px;
	cursor: pointer;
	padding-left: 5px;
}
.widget-zone-content .li-select {
	background-color: #A0A0E4;
	color: #fff;
}
.widget-zone-content li:hover {
	background-color: #F4F4F4;
	color: #000;
}
.widget-zone-content .level5 {} .widget-zone-content .level5 li {
	background-color: #fff;
}
.widget-zone-content .level5 li:hover {
	background-color: #F4F4F4;
}
.warn,
.error {
	color: red;
}
.widget-staff {
	cursor: pointer;
}
/****************/
/*********覆盖easyui的默认样式>>>***************/

.combo {
	border-color: #b5b5b5;
}
.menu {
	background: none;
	border: none;
}
.datagrid {
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
}
.datagrid-header td,
.datagrid-body td,
.datagrid-footer td {
	border-color: #b8ced7;
	border-width: 0px 1px 1px 0px;
	border-style: solid;
	text-align: center;
}
.datagrid-header-row {
	background-color: #d2dde8;
	height: 32px;
	border-right: 1px solid #d5d7d8;
	border-bottom: 1px solid #d5d7d8;
	color: #4e4e4e;
	font-size: 12px;
	font-weight: bold;
}
.datagrid-cell,
.datagrid-cell-group,
.datagrid-header-rownumber,
.datagrid-cell-rownumber {
	font-size: 14px;
}
.datagrid-htable,
.datagrid-btable,
.datagrid-ftable {
	/* border-right: 1px solid #b8ced7; */
}
.datagrid-row-over,
.datagrid-header td.datagrid-header-over {
	background-color: #5388b7;
	color: #fff;
}
.pagination-info {
	margin-right: 40px;
}
.datagrid-row {
	height: 40px;
}
.datagrid-header-row {
	height: 32px;
}
.datagrid-header, .datagrid-toolbar, .datagrid-pager, .datagrid-footer-inner,
.datagrid-header td, .datagrid-body td, .datagrid-footer td,
.panel-header, .panel-body{
	border-color: #46708e;
}
/*********覆盖easyui的默认样式<<<***************/
.easyui-extbtns {
	margin: 5px;
}
.btn-dialogs {
	border-bottom: 2px solid #eee;
	margin-bottom: 2px;
}
.btn-dialog {
	margin: 5px;
}
.btn-dialog-back {} .btn-dialog-maxmin {} .user-role-mgr {
	margin-top: 20px;
}
.user-role-mgr li {
	height: 30px;
	line-height: 30px;
	margin-left: 15px;
}
.user-role-mgr li input {
	margin-right: 3px;
}
.datagrid-topext {
	height: 36px;
	line-height: 36px;
	background: #46708e;
	padding-left: 22px;
	color: #154f87;
	font-size: 14px;
	font-weight: bold;
}
.datagrid-topext .my-btn {
	float: right;
	margin-right: 20px;
	margin-top: 6px;
}
.grid-nodate {
	background-color: #ebeff8;
	padding: 20px 100px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	border-radius: 5px;
	display: block;
}
.toggletag {
	background-color: #eaeff9;
	height: 20px;
	line-height: 20px;
	padding-right: 20px;
	padding-left: 10px;
	text-align: right;
	border: 1px solid #b8ced7;
	cursor: pointer;
}
.toggletag .toggletag-left {
	float: left;
}
.toggletag .toggletag-right {
	float: right;
}
.tr-tab {
	background-color: #66FFFF;
}
.barcodeImg {
	margin: 10px 0px
}
.grid-icon {
	cursor: pointer;
	color: #444;
	line-height: 19px;
	height: 19px;
	display: inline-block;
	float: left;
	margin-right: 10px;
}
.grid-icon .icon-fixsize {
	height: 19px;
	width: 16px;
}
.grid-icon span {
	float: left;
	display: inline-block;
	line-height: 22px;
	display: inline-block;
}
.grid-icon:hover {
	color: #fff;
	text-decoration: underline;
}
.hide {
	display: none;
}
/* 门户网站后台管理页面相关样式 >>> */
.auto-center {
	line-height: 30px;
	width: 100%;
}
.align-r {
	text-align: right;
	padding-right: 10px;
}
.align-l {
	text-align: left;
	padding-left: 10px;
}
.align-c {
	text-align: center;
}
/* 门户网站后台管理页面相关样式 <<< */
/*新版样式*/
.clear {
	clear: both;
}
#header {
	width: 100%;
	height: 87px;
	position: relative;
	margin-bottom: 10px;
	float: left;
}
#header .logo {
	height: 87px;
	background-color: #46708e;
	position: absolute;
	width: 100%;
	z-index: -1;
}
#header .logo h1{
	color: #fff;
	font-size: 32px;
	line-height: 87px;
	margin-left: 10px;
}
#header .user {
	width: 315px;
	height: 35px;
	float: right;
}
#header .user .username {
	display: inline-block;
	height: 24px;
	line-height: 24px;
	color: #fff;
	font-size: 12px;
	padding-left: 28px;
	float: left;
}
#header .user .username span {
	display: inline-block;
	float: left;
}
#header .user .username .currentuser {
	width: 80px;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}
#header .user .username a {
	text-decoration: none;
	color: #fff;
	cursor: default;
}
#header .user .exit {
	height: 24px;
	line-height: 24px;
	display: inline-block;
	padding-left: 20px;
	color: #fff;
	font-size: 12px;
	text-decoration: none;
	float: left;
}
#header .user .unbindca {
	height: 24px;
	line-height: 24px;
	display: inline-block;
	float: left;
	color: #fff;
	margin-left: 5px;
}
#header .menu {
	list-style: none;
	height: 87px;
	position: relative;
	float: right;
}
#header .menu li {
	float: left;
	width: 95px;
	height: 87px;
	margin-right: 10px;
}
#header .menu li:hover,
#header .menu li.selected {
	background-color: #fff;
}
#header .menu li.li-150 {
	width: 149px;
}
#header .menu li a {
	display: block;
	color: #fff;
	font-size: 12px;
	font-weight: bold;
	text-shadow: 1px 1px 1px #000;
	text-decoration: none;
	text-align: center;
	margin-top: 10px;
}
#header .menu li a img {
	display: block;
	margin: 0 auto;
	width: 61px;
	height: 50px;
}
#content {
	min-width: 1280px;
	margin-bottom: 10px;
}
#content .left {
	width: 200px;
	float: left;
	border: 2px solid #46708e;
	margin-left: 8px;
}
#content .left .title {
	height: 48px;
	line-height: 48px;
	padding-left: 32px;
	color: #3a3635;
	font-size: 16px;
}
#content .left .title-lv2 {
	background-color: #46708e;
	color: #fff;
}
#content .left .title-bold {
	font-weight: bold;
	background-color: #46708e;
	color: #fff;
	padding-left: 15px;
}
#content .left .line {
	height: 2px;
	background-color: #eee;
}
#content .left ul.tab {
	list-style: none;
}
#content .left ul.tab li {
}
#content .left ul.tab li a {
	text-decoration: none;
	color: #3a3635;
	height: 30px;
	line-height: 30px;
	padding-left: 46px;
}
#content .left ul.tab li a.selected,
#content .left ul.tab li a:hover {
	text-decoration: underline;
}
#content .right {
	margin-left: 220px;
}
#content .right-max {
	margin-left: 0px;
}
#content .right .right-white {
	min-height: 400px;
}
#content .right .right-white #main-content {
	min-height: 400px;
}
#content .right .location {
	height: 30px;
	line-height: 30px;
	color: #3e3a39;
	font-size: 14px;
}
#content .right .location a {
	text-decoration: none;
	color: #3e3a39;
	cursor: default;
}
#content .right .location a.now {
	color: #0452a5;
}
#content .right .location span {
	margin: 0px 8px;
}
#content .right .name {
	height: 36px;
	line-height: 36px;
	background-color: #46708e;
	padding-left: 22px;
	color: #fff;
	font-size: 14px;
	font-weight: bold;
}
#content .right .total-box {
	border: 1px solid #d5d7d8;
	border-top: none;
	margin-bottom: 18px;
}
#content .right .total-box .total-content {
	width: 920px;
	margin: 0 auto;
	padding: 20px 0px 28px 0px;
}
#content .right .total-box .total-content .item {
	color: #4e4e4e;
	font-size: 14px;
	margin-bottom: 15px;
}
#content .right .total-box .total-content .team {
	margin-bottom: 42px;
}
#content .right .total-box .total-content .item span.label {
	display: inline-block;
	width: 120px;
	padding-right: 30px;
	text-align: right;
	font-weight: bold;
}
#content .right .total-box .total-content .item a.detail {
	float: right;
	text-decoration: none;
	color: #595757;
	font-size: 12px;
	width: 56px;
	height: 20px;
	line-height: 20px;
	text-align: center;
	background: url(../images/detail-btn.png) no-repeat;
}
#content .right .total-box .total-content .item a.table,
#content .right .total-box .total-content .item a.figure {
	display: inline-block;
	color: #4e4e4e;
	font-size: 14px;
	text-decoration: none;
	padding-left: 28px;
	height: 25px;
	line-height: 24px;
	margin-right: 84px;
}
#content .right .total-box .total-content .item a.table {
	background: url(../images/table.png) left no-repeat;
}
#content .right .total-box .total-content .item a.figure {
	background: url(../images/figure.png) left no-repeat;
}
#content .right .total-box .total-content .item .time-input {
	width: 172px;
	height: 32px;
	line-height: 32px;
	border: 1px solid #b5b5b5;
	background: url(../images/time-icon.png) right no-repeat;
	cursor: pointer;
}
#content .right .total-box .total-content .item span.mar {
	margin: 0px 15px;
}
#content .right .total-box .total-content .item label {
	width: 130px;
	display: inline-block;
	margin-left: 5px;
}
#content .right .total-box .total-content .btn-box {
	text-align: center;
	margin-top: 20px;
}
#content .right .total-box .total-content .btn-box .blue-btn {
	width: 102px;
	height: 35px;
	background: url(../images/blue-btn.png) repeat-x;
	border: none;
	border-radius: 20px;
	color: #fff;
	font-size: 14px;
	font-weight: bold;
	cursor: pointer;
}
#content .right .tab {
	border-left: 1px solid #d5d7d8;
	border-top: 1px solid #d5d7d8;
}
#content .right .tab tr th {
	height: 32px;
	border-right: 1px solid #d5d7d8;
	border-bottom: 1px solid #d5d7d8;
	background: url(../images/th-bg.png) repeat-x;
	color: #4e4e4e;
	font-size: 12px;
}
#content .right .tab tr td {
	text-align: center;
	border-right: 1px solid #d5d7d8;
	border-bottom: 1px solid #d5d7d8;
	height: 40px;
	color: #4e4e4e;
	font-size: 14px;
}
#footer {
	height: 55px;
	line-height: 55px;
	text-align: center;
	color: #2e2c2c;
}
/* profile css >>>*/

.profile-topinfo {
	width: 250px;
	height: 120px;
	line-height: 60px;
	color: #fff;
	float: left;
	font-size: 40px;
	text-align: center;
}
/* profile css <<< */
/* 欢迎页 START */

#content .left .user-manage {
	height: 48px;
	line-height: 48px;
	text-align: center;
}
#content .left .user-manage span {
	display: inline-block;
	vertical-align: middle;
}
#content .left .user-manage span.head-portrait {
	width: 38px;
	height: 38px;
}
#content .left .user-manage span.username {
	color: #3a3635;
	font-size: 16px;
}
#content .left .user-manage span.select {
	width: 14px;
	height: 7px;
	background: url(../images/select.png) no-repeat;
	cursor: pointer;
}
#content .right .greetings {
	height: 48px;
	line-height: 48px;
	color: #3e3a39;
	font-size: 14px;
	margin-bottom: 20px;
}
#content .right .total-icon {
	width: 1100px;
	height: 88px;
	margin: 0 auto 20px auto;
}
#content .right .total-icon1 {
	width: 1100px;
	height: 88px;
	margin: 0 auto 20px auto;
}
#content .right .total-icon a {
	float: left;
	width: 242px;
	height: 68px;
	padding-top: 20px;
	text-decoration: none;
	color: #fff;
	font-size: 20px;
	font-weight: bold;
	border-radius: 5px;
	margin-right: 0px;
	margin-left:18px;
}

#content .right .total-icon1 a {
	float: left;
	width: 200px;
	height: 68px;
	padding-top: 20px;
	text-decoration: none;
	color: #fff;
	font-size: 20px;
	font-weight: bold;
	border-radius: 5px;
	margin-right: 15px;
	margin-left:50px;
}
#content .right .total-icon a.last {
	margin-right: 0px;
}
#content .right .total-icon a > div {
	text-align: center;
	padding-left: 35px;
}
#content .right .total-icon1 a.last {
	margin-right: 0px;
}
#content .right .total-icon1 a > div {
	text-align: center;
	padding-left: 35px;
}
#content .right .total-icon a.icon-1 {
	background: #6db5e6 url(../images/icon-1.png) 30px 23px no-repeat;
}
#content .right .total-icon a.icon-2 {
	background: #e3a647 url(../images/icon-2.png) 26px 22px no-repeat;
}
#content .right .total-icon a.icon-3 {
	background: #dc6d6d url(../images/icon-3.png) 22px 16px no-repeat;
}
#content .right .total-icon a.icon-4 {
	background: #c497cc url(../images/icon-4.png) 40px 15px no-repeat;
}
#content .right .total-icon1 a.icon-01 {
	background: #6db5e6;
}
#content .right .total-icon1 a.icon-02 {
	background: #e3a647;
}
#content .right .total-icon1 a.icon-03 {
	background: #dc6d6d;
}
#content .right .total-icon1 a.icon-04 {
	background: #c497cc;
}
.tabPannel {
	margin-bottom: 12px;
}
.tab-group {
	width: 40px;
	margin: 0;
	padding: 0;
	list-style: none;
	position: absolute;
	right: 0px;
	top: 350px;
}
.tab-group li {
	height: 142px;
	background: #6db5e7;
	color: #fff;
	font-size: 14px;
	border-radius: 5px 0px 0px 5px;
	margin-bottom: 3px;
	width: 16px;
	padding: 0px 12px 0px 12px;
	cursor: pointer;
}
.tab-group li.li-1 {
	padding-top: 14px;
	height: 128px;
}
.tab-group li.li-2 {
	padding-top: 34px;
	height: 108px;
}
.tab-group li.cur {
	background: #3d8abf;
}
.tabPannel .tab_group {
	margin: 0px 10px 0px 12px;
	padding: 0;
	width: 100%;
	height: 5px;
	/* background: #6db5e6; */
	list-style: none;
	border-radius: 5px 5px 0px 0px;
}
.tabPannel .tab_group li {
	height: 36px;
	line-height: 36px;
	background: #c2dffa;
	float: left;
	width: 48%;
	text-align: center;
	color: #3e89bc;
	font-size: 16px;
	cursor: pointer;
}
.tabPannel .tab_group li.bor-l {
	border-radius: 5px 0px 0px 0px;
}
.tabPannel .tab_group li.bor-r {
	border-radius: 0px 5px 0px 0px;
}
.tabPannel .tab_group li.cur {
	background: #6db5e6;
	color: #fff;
}
.tab_content {
	display: none;
	padding: 25px 0px;
	border-top: none;
}
#tabPannel .tab_content {
	/* border: 1px solid #d5d7d8; */
	background: #fcfcfc;
}
.tab_content.cur {
	display: block;
}
.tab_group li span.personal {
	display: block;
	width: 50px;
	height: 36px;
	margin: 0 auto;
	background: url(../images/personal.png) left no-repeat;
	padding-left: 25px;
}
.tab_group li span.team {
	display: block;
	width: 50px;
	height: 36px;
	margin: 0 auto;
	background: url(../images/team.png) left no-repeat;
	padding-left: 26px;
}
.tab_group li.cur span.personal {
	display: block;
	width: 50px;
	height: 36px;
	margin: 0 auto;
	background: url(../images/personal-h.png) left no-repeat;
	padding-left: 24px;
}
.tab_group li.cur span.team {
	display: block;
	width: 50px;
	height: 36px;
	margin: 0 auto;
	background: url(../images/team-h.png) left no-repeat;
	padding-left: 25px;
}
.tab_content .common {
	text-align: center;
}
.tab_content .common img {
	margin-right: 70px;
}
.tab_content .common img.last {
	margin-right: 0px;
}
a {
	color: #333;
	text-decoration: none;
	outline: none;
	zoom: 1;
}
/*通用*/
.align-center{text-align: center;}
.padding{padding: 10px;}
.margin{margin: 10px;}
/*图片管理页面*/
.im{}
.im .img-wrap{
	position: relative;
	margin: 0px auto;
	border: 1px solid #5485b1
}
.im .part-his-item{
	width: 46%;
	float: left;
	background-color: #eee;
	margin-top: 10px;
	margin-left: 10px;
	padding: 10px;
}
.im .his-item-left{
	float: left;
	width: 30%;
}
.im .his-item-center{
	float: left;
	width: 33%;
	padding: 5px;
	overflow-y: hidden;
	height: 100px;
}
.im .his-item-right{
	float: left;
	width: 30%;
}
.im .his-item-right .btn{
	width: 80px;
}
.im .im-left{
	width: 180px;
	min-height: 300px;
	float: left;
	line-height: 32px;
	overflow-x: auto;
	border: 3px solid #46708e;
	margin-left: 3px;
}
.im .im-left .lv1{
	background-color: #46708e;
	color: #fff;
	font-weight: bold;
	font-size: 16px;
	padding-left: 10px;
	border-bottom: 2px solid #46708e;
}
.im .im-left .lv2{padding-left: 20px; margin-top: 10px; font-weight: bold;}
.im .im-left .lv3{padding-left: 30px; cursor: pointer;}
.im .im-left .lv3:hover{background-color: #eee;}
.im .im-left .lv3.select{background-color: #46708e; color: #fff;}
.im .im-location{
	font-size: 14px;
	margin-left: 10px;
	margin-bottom: 10px;
	float: left;
	padding: 5px;
	border: 2px solid #46708e;
	border-left-width: 5px;
	position: absolute;
	margin-left: 200px;
	background-color: #46708e;
	color: #fff;
}
.im .im-center{
	overflow-x: auto;
	overflow-y: hidden;
	float: left;
	margin-top: 40px;
	/* border: 2px solid #46708e; */
	margin-left: 12px;
	padding: 6px;
}
.im .im-center-title{
	text-align: center;
	margin-bottom: 8px;
}
.im .im-right{
	width: 220px;
	min-height: 300px;
	float: right;
	line-height: 22px;
}
.im .im-right>div{
	border: 2px solid #46708e;
	margin-bottom: 10px;
}
.im .im-right>div>div{
	padding: 5px;
}
.im .im-right b{
}
.im .im-right h1{
	padding-bottom: 3px;
	padding-left: 10px;
	background-color: #46708e;
	color: #fff;
	font-size: 14px;
}
.im .item-drag-right{
	cursor: pointer;
}
.im .btn-remove{
	color: #fff;
	position: absolute;
	right: 0px;
	top: 0px;
}
.im .im-view-detail{
	border: 1px solid #5485b1;
	padding: 3px;
	margin-right: 5px;
}
.im .im-view-detail:hover{
	text-decoration: underline;
}
.im .item-drag-right{
	padding-left: 10px;
	border-left: 2px solid #ffbf49;
	line-height: 35px;
}
.im .item-drag-right:hover{
	background-color: #dc5f5f;
	color: #fff;
}
.im .item-drag-right.select{
	background-color: #ea4545;
	color: #fff;
}
.im .item-drag-right.select i,
.im .item-drag-right:hover i{
	border-color: #fff;
}
.im .item-drag{
	position: absolute;
	z-index: 2;
	background-color: green;
	opacity: 0.6;
	cursor: pointer;
}
.im .item-drag .item-drag-viewdetail {
	color: #fff;
	background-color: #173448;
	padding: 5px;
	width: 15px;
	text-align: center;
	opacity: 1;
}
.im .item-drag .item-drag-viewdetail:hover{
	background-color: #669bc1;
}
.im .item-drag.select{background-color: red;}

.float-left{float: left;}
.float-right{float: right;}